.event-target {
  fill: white;
  fill-opacity: 10e-6;
  cursor: move;

  &.selected {
    stroke: steelblue;
    stroke-dasharray: 1 1;
  }
}

.background {

}

.attractor.positive .background {
  fill: green;
}

.attractor.negative .background {
  fill: red;
}

.event-target {
  fill: white;
  fill-opacity: 10e-6;
  cursor: move;
}
