.stage {
  position: relative;
}

canvas {
  border: 1px solid steelblue;
  background-color: rgba(35, 39, 41, 0.10);
}

svg {
  border: 1px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
