.event-target {
  fill: white;
  fill-opacity: 10e-6;
  cursor: move;

  &.selected {
    stroke: steelblue;
    stroke-dasharray: 1 1;
  }
}

.handle-container {
  /*cursor: grab;*/
}

.handle {
  fill: none;
  stroke: black;
}
