<div class="emitter-detail">


  <form class="example-form" >
    <h2>Emitter</h2>

    <mat-form-field>
      <mat-label>x</mat-label>
      <input name="x" matInput type="number" step="1" min="0" [(ngModel)]="emitter.position.x"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>y</mat-label>
      <input name="y" matInput type="number" step="1" min="0" [(ngModel)]="emitter.position.y"/>
    </mat-form-field>

    <div>
      <mat-form-field>
        <mat-label>angle</mat-label>
        <input name="angleExpression" matInput [(ngModel)]="emitter.angle.expression" mathValidator="t"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>spread</mat-label>
        <input name="spread" matInput [(ngModel)]="emitter.spread.expression" mathValidator="t"/>
      </mat-form-field>
    </div>


    <div>
      <mat-form-field>
        <mat-label>particles' initial velocity</mat-label>
        <input name="velocity" matInput [(ngModel)]="emitter.velocity.expression" mathValidator="t"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>batch size</mat-label>
        <input name="batchSize" matInput [(ngModel)]="emitter.batchSize.expression" mathValidator="t"/>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>emission rate ({{emitter.getEmissionRate()}})</mat-label>
        <input name="emissionRate" matInput [(ngModel)]="emitter.emissionRate.expression" mathValidator="t"/>
      </mat-form-field>
    </div>

  </form>

  <button mat-stroked-button color="warn" (click)="remove.emit(emitter)">remove</button>
  <button mat-stroked-button color="primary" (click)="duplicate.emit(emitter)">duplicate</button>

</div>
